
<div style="vw: 100; wh:100; display:flex; flex-direction:column; align-items:center; ">
<h1 class="p-3">This is a private page</h1>

<p>With some random gifs :o</p>

<img src="{{image}}" alt="gif-image">

</div>